{% extends "::base.html.twig" %}

{% block title %}
    {{ advert.title }}
{% endblock %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2> {{ advert.title }} </h2>
            <p> {{ advert.description }} </p>
            <p>Rubric: {{ advert.rubric.name }} </p>
            <p>Date: {{ advert.createdAt|date }} </p>
            <hr>
            <h4>Contacts</h4>
            Name: {{ advert.user.name }} <br>
            City: {{ advert.user.city }} <br>
            Email: <a href="mailto:#"> {{ advert.user.email }} </a> <br>
            <abbr title="Phone">Phone:</abbr> {{ advert.user.phone }}
        </div>
    </div>
{% endblock %}
