{% extends "::base.html.twig" %}

{% block title %}
    {{ advert.title }}
{% endblock %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2> {{ advert.title }} </h2>
            <p> {{ advert.description }} </p>
            <p>Price: {{ advert.price }} </p>
            <p>Rubric: {{ advert.rubric.name }} </p>
            <p>Created: {{ advert.createdAt|date }} </p>
            <p>Last update: {{ advert.updatedAt|date }} </p>
            <hr>
            <h4>Contacts</h4>
            Name: {{ advert.user.name }} <br>
            City: {{ advert.user.city }} <br>
            Email: <a href="mailto:#"> {{ advert.user.email }} </a> <br>
            <abbr title="Phone">Phone:</abbr> {{ advert.user.phone }} <br>
            <div align="right">
                <a href="{{ path('iboved_advert_advert_edit', {'slug' : advert.slug}) }}">Edit</a> |
                <a href="{{ path('iboved_advert_advert_deleteadvert', {'slug' : advert.slug}) }}">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}
